<div id="wrapper">
  <nav>
    <div class="nav-wrapper" style="background: linear-gradient(to right, rgb(107, 205, 235) ,rgb(3, 110, 180));">
      <a href="#" class="brand-logo center">Mongo Note Scraper</a>
    </div>
  </nav>
  {{!-- <h1>Mongo Note Scraper</h1> --}}
  <h4><i>Click on an article to leave a comment.</i></h4>
  <div class="row">
    <div class="col m6" style="background-color:rgb(254, 255, 198);">
      <div id="articles"></div>
    </div>
    <div class="col m4">
      <div id="notes"></div>
    </div>
  </div>
</div>